.table-container {
  width: 100%;
  height: 650px;
  & > table {
    width: 100%;
    td.mat-cell {
      padding: 10px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      min-width: 100px;
    }
    th.mat-header-cell {
      font-size: 16px;
      font-weight: 500;
      color: aliceblue;
      background-color: #1569ab;
    }
  }
  i{
    cursor: pointer;
  }
}


