<div class="container" *ngIf="screan!==null">
  <mat-card class="panel">
    <button class="search-button" routerLink="/managment/mainScreen" mat-raised-button color="primary" >Main Screen</button>
    <button class="search-button" routerLink="/managment/adminScreen" mat-raised-button color="primary" >Admin Screen</button>
    <button class="search-button" routerLink="/managment/logScreen" mat-raised-button color="primary" >Log Screen</button>
    <button class="search-button" (click)="logout()" mat-raised-button color="primary" >LogOut</button>
  </mat-card>
</div>
